@font-face {
  font-family: 'HUFSFont';
  src: url('/static/HUFSFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'HUFSFont', 'Noto Sans KR', sans-serif;
  background-color: #fdfdfd;
  color: #222;
  margin: 0;
  padding: 0;
}

